/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --accent-text-color: #353430;
  --accent-color: #ff8dcb;
  --button-hover-color: #32312d66;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --title-shadow-color: var(--accent-color, #ff8dcb);
  --decor-color: var(--text-color, #353430);
  --button-color: var(--text-color, #353430);
  --heading-text-color: var(--text-color, #353430);
}

.page.theme_light .header__decoration {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  
  .page.theme_auto {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-color: #ff8dcb;
    --button-hover-color: #32312d66;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --title-shadow-color: var(--accent-color, #ff8dcb);
    --decor-color: var(--text-color, #353430);
    --button-color: var(--text-color, #353430);
    --heading-text-color: var(--text-color, #353430);
  }

  .page.theme_auto .header__decoration {
    visibility: hidden;
  }
}

@media (width >= 1024px) {
  
  .page.theme_light .title,
  .page.theme_auto .title {
    --accent-color: #ff0070;
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}
