/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', monospace;
  --main-font-size: 18px;
  --basic-padding: 10px;
  --basic-gap: 20px;
  --small-gap: 10px;
  --basic-margin: 50px;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --button-hover-color: #ff007066;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-shadow-color: var(--accent-color, #ff0070);
  --decor-color: var(--accent-color, #ff0070);
  --button-color: var(--accent-color, #ff0070);
  --heading-text-color: var(--accent-color, #ff0070);
}


@media (width >= 768px) {

  :root {
    --basic-padding: 20px;
    --basic-margin: 80px;
  }
}
